section {
	margin: 1.5rem 0 2.5rem 0;

	& .basic-info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include respond-below(md) {
			& div {
				margin-bottom: 2rem;
			}
		}
	}
	& .contact-info {
		display: flex;
		flex-direction: column;

		& h3 {
			font-weight: bold;
			margin-bottom: 1.2rem;
		}
		& li {
			margin-bottom: 0.8rem;
		}
	}
	& .section-title {
		font-size: 1.25rem;
		margin-bottom: 2rem;
		font-weight: 600;
	}
}
.skills .skill-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	& .column:last-child {
		margin-bottom: 0;
	}
	& .column {
		
		@include respond-below(md) {
			margin-bottom: 2rem;
			width: 100%;
		}
	

		& li {
			flex-grow: 1;
			margin-bottom: 0.8rem;
		}
	}
}

.experience {
	& .job-experience {
		display: flex;
		flex-direction: column;
		margin-bottom: 3rem;

		& .company {
			width: auto;
			font-weight: bold;
			margin-bottom: 1rem;
		}
		& .job-title {
			font-weight: bold;
		}

		& .from-to-date {
			margin-top: 1rem;
		}
		& .experience-description {
			margin-top: 1rem;
		}
	}
	& :last-child {
		margin-bottom: 0;
	}
}

.education {
	& .education-item {
		margin-bottom: 3rem;

		& .study {
			display: block;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		& .from-to-date {
			margin-top: 1rem;
		}
	}
}

.projects {
	& ul {
		display: flex;
		flex-direction: column;
	}
}
